
#about-livia {
    height: 600px;
    width: 100%;
    background: url("../images/ryggstark.png") no-repeat center center/cover;
    position: relative;
}

#brazil {
    height: 600px;
    width: 100%;
    background: url("../images/ryggstark.png") no-repeat center center/cover;
    position: relative;
}

#sweden {
    height: 600px;
    width: 100%;
    background: url("../images/ryggstark.png") no-repeat center center/cover;
    position: relative;
}