body {
    margin: 0;
    font-size: 1.75rem;
    background: #fafafa;
    padding-inline-start: 20rem;
    color: white;
  }
  nav {
    background: gray;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-block:2rem ;
    font-size: 1.75rem;
  }
  
  .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 3rem;
    
  }
  
  .nav-list a {
    color: black;
    text-decoration: none;
  }
  
  .nav-list li {
    padding-block: 1rem;
    padding-inline: 2rem;
  }
  
  .nav-list li .active {
    display: block;
    background: white;
    border-radius: 100vw;

  }

#introduction {
    height: 707px;
    width: 757px;
    background: url("../images/ryggstark.png") no-repeat center center/cover;
    position: relative;
}

#brazil {
    background: url('../images/1280px-Flag_of_Brazil.svg.png') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    border-color: #f000000;
    max-width: 300px;
    max-height: 300px;
}

#sweden {
    background: url('../images/Flag_of_Sweden.svg.png') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    border-color: #f000000;
    border: 10px;
    max-width: 300px;
    max-height: 300px;
}