h1 {
    text-align: center;
    text-decoration: none;
    color: black;
    z-index: 100;
    position: auto;
}

body {
    margin: 0;
    font-family: "PT Serif", serif;

}

/* Header */
header {
    background-color: gray;
    padding: 0 1rem;
    position: sticky;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    justify-content: space-between;
    align-items: baseline;
}

/* small devices (divices up to 992px ) */
@media screen and (max-width: 992px) {

    header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
    padding-left: 1rem;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black;
}

/* Navbar styles with dropdown toggle */
nav {
    position: relative;
    background-color: gray;
    width: 30%;

    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
   
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display:block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    position: relative right;
}

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

.logo {
    text-decoration: none;
}
header {
    background: gray;
    top: 0;
    left: 0;
    font-size: 1.5rem;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
.menu {
    display: flex;
}

.menu > li {
    padding-left: 1rem;
    list-style: none;
}

.nav-toggle-label {
    display: none;
}


.menu {
    margin: 0;
    padding-left: 30%;
    list-style: none;
    gap: 5rem;
    display: flex;

}

nav a {
    color: black;
    text-decoration: none;
}

nav li:hover {
    text-decoration: underline black;

}

nav li .active {
    display:grid;
    background: white;
    border-radius:2vw;
}
}






#introduction {
    padding-top: 60%;
    background: url("../images/ryggstark.png") no-repeat center center/cover;
}

#brazil {
    background: url('../images/1280px-Flag_of_Brazil.svg.png') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    border-color: #f000000;
    max-width: 300px;
    max-height: 300px;
}

#sweden {
    background: url('../images/Flag_of_Sweden.svg.png') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    border-color: #f000000;
    border: 10px;
    max-width: 300px;
    max-height: 300px;
}